# **Day 1 – Python Basics**

Day 1 of the QuantLake Internship

## **Objective**

- Practice Python fundamentals
- Understand core data types, operators, and control flow
- Set up a clean, readable notebook

## **Section 1: Variables & Data Types**

In Python, variables are used to store information. Python has different data types such as:
- Integers (`int`)
- Floating-point numbers (`float`)
- Strings (`str`)
- Boolean (`bool`)

In [1]:
# Integer
age = 21
print("Age:", age)

Age: 21

In [2]:
# Float
height = 5.6
print("Height:", height)

Height: 5.6

In [3]:
# String
name = "Sandhya"
print("Name:", name)

Name: Sandhya

In [4]:
# Boolean
is_intern = True
print("Is Intern:", is_intern)

Is Intern: True

## **Section 2: Lists, Tuples, and Dictionaries**

These are Python collections used to store multiple values:
- List: Ordered, mutable collection
- Tuple: Ordered, immutable collection
- Dictionary: Key-value pairs

In [5]:
# List
skills = ["Python", "SQL", "Excel"]
print("Skills List:", skills)

Skills List: ['Python', 'SQL', 'Excel']

In [6]:
# Tuple
internship_duration = ("June 16", "July 31")
print("Internship Duration Tuple:", internship_duration)

Internship Duration Tuple: ('June 16', 'July 31')

In [7]:
# Dictionary
intern_info = {
    "name": "Sandhya",
    "role": "Data Analyst Intern",
    "company": "QuantLake"
}
print("Intern Dictionary:", intern_info)

Intern Dictionary: {'name': 'Sandhya', 'role': 'Data Analyst Intern', 'company': 'QuantLake'}

## **Section 3: Arithmetic & Comparison Operators**

Python supports:
- Arithmetic operators: `+`, `-`, `*`, `/`, `//`, `%`, `**`
- Comparison operators: `==`, `!=`, `>`, `<`, `>=`, `<=`

In [8]:
# Arithmetic
a = 10
b = 3
print("Addition:", a + b)
print("Division:", a / b)
print("Exponent:", a ** b)

Addition: 13
Division: 3.3333333333333335
Exponent: 1000

In [9]:
# Comparison
print("Is a greater than b?", a > b)
print("Is a equal to b?", a == b)

Is a greater than b? True
Is a equal to b? False

## **Section 4: Control Flow – if/elif/else**

Used to run code conditionally based on logic.

In [11]:
score = 85

if score >= 90:
    print("Excellent!")
elif score >= 75:
    print("Good job!")
else:
    print("Keep improving!")

Good job!

## **Section 5: Loops – for & while**

Used to repeat actions multiple times.

In [12]:
# For loop
for skill in skills:
    print("Learning:", skill)

Learning: Python
Learning: SQL
Learning: Excel

In [13]:
# While loop
count = 1
while count <= 3:
    print("Day", count)
    count += 1

Day 1
Day 2
Day 3

## **Summary**

In this notebook, I revised:
- Python variable types (int, float, str, bool)
- Collections (lists, tuples, dicts)
- Operators and expressions
- Conditional logic and loops

This setup will help in building logic for data analytics tasks ahead.