# **Day 4 – Pandas: Data Manipulation I**

Day 4 of the QuantLake Internship

## **Objective**

On Day 4, the focus is on mastering essential **data manipulation techniques** in Pandas:  
- Accessing and filtering data using `.loc[]` and `.iloc[]`  
- Sorting and applying conditions  
- Handling missing values  
- Grouping and aggregating data  
- Merging datasets using joins  

These are key operations for any real-world data analysis workflow.

## **Section 1: Indexing and Slicing**

In this section, we practice selecting data using `.loc[]` and `.iloc[]`.  
These help in accessing specific rows/columns or applying conditional logic.

In [1]:
import pandas as pd
import numpy as np

In [7]:
# Load your dataset
df = pd.read_csv('Sample_Superstore.csv', encoding='cp1252')

In [8]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [9]:
# Using loc to select specific row and column
print(df.loc[0, 'City'])

Henderson

In [10]:
# Selecting multiple rows and columns
print(df.loc[0:5, ['City', 'Sales', 'Profit']])

              City     Sales    Profit
0        Henderson  261.9600   41.9136
1        Henderson  731.9400  219.5820
2      Los Angeles   14.6200    6.8714
3  Fort Lauderdale  957.5775 -383.0310
4  Fort Lauderdale   22.3680    2.5164
5      Los Angeles   48.8600   14.1694

In [11]:
# Using iloc for positional indexing
print(df.iloc[0:3, 0:4])

   Row ID        Order ID Order Date   Ship Date
0       1  CA-2016-152156  11/8/2016  11/11/2016
1       2  CA-2016-152156  11/8/2016  11/11/2016
2       3  CA-2016-138688  6/12/2016   6/16/2016

In [12]:
# Conditional selection
print(df[df['Sales'] > 500])

      Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
1          2  CA-2016-152156   11/8/2016  11/11/2016    Second Class
3          4  US-2015-108966  10/11/2015  10/18/2015  Standard Class
7          8  CA-2014-115812    6/9/2014   6/14/2014  Standard Class
10        11  CA-2014-115812    6/9/2014   6/14/2014  Standard Class
11        12  CA-2014-115812    6/9/2014   6/14/2014  Standard Class
...      ...             ...         ...         ...             ...
9931    9932  CA-2015-104948  11/13/2015  11/17/2015  Standard Class
9942    9943  CA-2014-143371  12/28/2014    1/3/2015  Standard Class
9947    9948  CA-2017-121559    6/1/2017    6/3/2017    Second Class
9948    9949  CA-2017-121559    6/1/2017    6/3/2017    Second Class
9968    9969  CA-2017-153871  12/11/2017  12/17/2017  Standard Class

     Customer ID    Customer Name    Segment        Country             City  \
1       CG-12520      Claire Gute   Consumer  United States        Henderson
3       SO-20335   Sean O'Donnell   Consumer  United States  Fort Lauderdale
7       BH-11710  Brosina Hoffman   Consumer  United States      Los Angeles
10      BH-11710  Brosina Hoffman   Consumer  United States      Los Angeles
11      BH-11710  Brosina Hoffman   Consumer  United States      Los Angeles
...          ...              ...        ...            ...              ...
9931    KH-16510    Keith Herrera   Consumer  United States   San Bernardino
9942    MD-17350    Maribeth Dona   Consumer  United States          Anaheim
9947    HW-14935  Helen Wasserman  Corporate  United States     Indianapolis
9948    HW-14935  Helen Wasserman  Corporate  United States     Indianapolis
9968    RB-19435  Richard Bierner   Consumer  United States       Plainfield

      ... Postal Code   Region       Product ID         Category Sub-Category  \
1     ...       42420    South  FUR-CH-10000454        Furniture       Chairs
3     ...       33311    South  FUR-TA-10000577        Furniture       Tables
7     ...       90032     West  TEC-PH-10002275       Technology       Phones
10    ...       90032     West  FUR-TA-10001539        Furniture       Tables
11    ...       90032     West  TEC-PH-10002033       Technology       Phones
...   ...         ...      ...              ...              ...          ...
9931  ...       92404     West  FUR-BO-10004357        Furniture    Bookcases
9942  ...       92804     West  OFF-ST-10001128  Office Supplies      Storage
9947  ...       46203  Central  FUR-CH-10003746        Furniture       Chairs
9948  ...       46203  Central  OFF-AP-10002945  Office Supplies   Appliances
9968  ...        7060     East  OFF-BI-10004600  Office Supplies      Binders

                                           Product Name      Sales  Quantity  \
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...   731.9400         3
3         Bretford CR4500 Series Slim Rectangular Table   957.5775         5
7                        Mitel 5320 IP Phone VoIP phone   907.1520         6
10             Chromcraft Rectangular Conference Tables  1706.1840         9
11        Konftel 250 Conference phone - Charcoal black   911.4240         4
...                                                 ...        ...       ...
9931     O'Sullivan Living Dimensions 3-Shelf Bookcases   683.3320         4
9942        Carina Mini System Audio Rack, Model AR050B   998.8200         9
9947  Hon 4070 Series Pagoda Round Back Stacking Chairs  1925.8800         6
9948  Honeywell Enviracaire Portable HEPA Air Cleane...  2405.2000         8
9968          Ibico Ibimaster 300 Manual Binding System   735.9800         2

      Discount    Profit
1         0.00  219.5820
3         0.45 -383.0310
7         0.20   90.7152
10        0.20   85.3092
11        0.20   68.3568
...        ...       ...
9931      0.15  -40.1960
9942      0.00   29.9646
9947      0.00  539.2464
9948      0.00  793.7160
9968      0.00  331.1910

[1162 rows x 21 columns]

## **Section 2: Filtering and Sorting**

We now filter data based on conditions and sort it using `sort_values()`.

In [13]:
# Filter rows where Sales > 1000
high_sales = df[df['Sales'] > 1000]
print(high_sales.head())

    Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
10      11  CA-2014-115812    6/9/2014   6/14/2014  Standard Class
24      25  CA-2015-106320   9/25/2015   9/30/2015  Standard Class
27      28  US-2015-150630   9/17/2015   9/21/2015  Standard Class
35      36  CA-2016-117590   12/8/2016  12/10/2016     First Class
54      55  CA-2016-105816  12/11/2016  12/17/2016  Standard Class

   Customer ID    Customer Name    Segment        Country           City  ...  \
10    BH-11710  Brosina Hoffman   Consumer  United States    Los Angeles  ...
24    EB-13870      Emily Burns   Consumer  United States           Orem  ...
27    TB-21520  Tracy Blumstein   Consumer  United States   Philadelphia  ...
35    GH-14485        Gene Hale  Corporate  United States     Richardson  ...
54    JM-15265   Janet Molinari  Corporate  United States  New York City  ...

   Postal Code   Region       Product ID    Category Sub-Category  \
10       90032     West  FUR-TA-10001539   Furniture       Tables
24       84057     West  FUR-TA-10000577   Furniture       Tables
27       19140     East  FUR-BO-10004834   Furniture    Bookcases
35       75080  Central  TEC-PH-10004977  Technology       Phones
54       10024     East  TEC-PH-10002447  Technology       Phones

                                         Product Name     Sales  Quantity  \
10           Chromcraft Rectangular Conference Tables  1706.184         9
24      Bretford CR4500 Series Slim Rectangular Table  1044.630         3
27  Riverside Palais Royal Lawyers Bookcase, Royal...  3083.430         7
35                                        GE 30524EE4  1097.544         7
54                   AT&T CL83451 4-Handset Telephone  1029.950         5

    Discount     Profit
10       0.2    85.3092
24       0.0   240.2649
27       0.5 -1665.0522
35       0.2   123.4737
54       0.0   298.6855

[5 rows x 21 columns]

In [14]:
# Filter with multiple conditions
tech_discounted = df[(df['Category'] == 'Technology') & (df['Discount'] > 0.2)]
print(tech_discounted.head())

     Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
130     131  US-2017-164147    2/2/2017    2/5/2017     First Class
165     166  CA-2014-139892    9/8/2014   9/12/2014  Standard Class
214     215  CA-2015-146262    1/2/2015    1/9/2015  Standard Class
215     216  CA-2015-146262    1/2/2015    1/9/2015  Standard Class
223     224  CA-2015-169397  12/24/2015  12/27/2015     First Class

    Customer ID    Customer Name    Segment        Country         City  ...  \
130    DW-13585   Dorothy Wardle  Corporate  United States     Columbus  ...
165    BM-11140     Becky Martin   Consumer  United States  San Antonio  ...
214    VW-21775  Victoria Wilson  Corporate  United States       Medina  ...
215    VW-21775  Victoria Wilson  Corporate  United States       Medina  ...
223    JB-15925   Joni Blumstein   Consumer  United States       Dublin  ...

    Postal Code   Region       Product ID    Category Sub-Category  \
130       43229     East  TEC-PH-10002293  Technology       Phones
165       78207  Central  TEC-MA-10000822  Technology     Machines
214       44256     East  TEC-PH-10002844  Technology       Phones
215       44256     East  TEC-MA-10000864  Technology     Machines
223       43017     East  TEC-MA-10001148  Technology     Machines

                                          Product Name     Sales  Quantity  \
130  Anker 36W 4-Port USB Wall Charger Travel Power...    59.970         5
165          Lexmark MX611dhe Monochrome Laser Printer  8159.952         8
214                Speck Products Candyshell Flip Case    62.982         3
215                 Cisco 9971 IP Video Phone Charcoal  1188.000         9
223       Swingline SM12-08 MicroCut Jam Free Shredder   479.988         4

     Discount     Profit
130       0.4   -11.9940
165       0.4 -1359.9920
214       0.4   -14.6958
215       0.7  -950.4000
223       0.7  -383.9904

[5 rows x 21 columns]

In [15]:
# Sort by Profit
df_sorted_profit = df.sort_values('Profit', ascending=False)
df_sorted_profit[['Product Name', 'Profit']].head()

                                          Product Name     Profit
6826             Canon imageCLASS 2200 Advanced Copier  8399.9760
8153             Canon imageCLASS 2200 Advanced Copier  6719.9808
4190             Canon imageCLASS 2200 Advanced Copier  5039.9856
9039  GBC Ibimaster 500 Manual ProClick Binding System  4946.3700
4098              Ibico EPK-21 Electric Binding System  4630.4755

In [16]:
# Sort by Category then Sales
df_sorted_multi = df.sort_values(by=['Category', 'Sales'], ascending=[True, False])
print(df_sorted_multi.head())

      Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
7243    7244  CA-2017-118892   8/17/2017   8/22/2017    Second Class
9741    9742  CA-2015-117086   11/8/2015  11/12/2015  Standard Class
9639    9640  CA-2015-116638   1/28/2015   1/31/2015    Second Class
5917    5918  US-2015-126977   9/17/2015   9/23/2015  Standard Class
6535    6536  CA-2014-128209  11/17/2014  11/22/2014  Standard Class

     Customer ID Customer Name    Segment        Country           City  ...  \
7243    TP-21415  Tom Prescott   Consumer  United States   Philadelphia  ...
9741    QJ-19255  Quincy Jones  Corporate  United States     Burlington  ...
9639    JH-15985   Joseph Holt   Consumer  United States        Concord  ...
5917    PF-19120  Peter Fuller   Consumer  United States  New York City  ...
6535    GT-14710     Greg Tran   Consumer  United States        Buffalo  ...

     Postal Code  Region       Product ID   Category Sub-Category  \
7243       19134    East  FUR-CH-10002024  Furniture       Chairs
9741        5408    East  FUR-BO-10004834  Furniture    Bookcases
9639       28027   South  FUR-TA-10000198  Furniture       Tables
5917       10035    East  FUR-BO-10004834  Furniture    Bookcases
6535       14215    East  FUR-BO-10002213  Furniture    Bookcases

                                           Product Name     Sales  Quantity  \
7243       HON 5400 Series Task Chairs for Big and Tall  4416.174         9
9741  Riverside Palais Royal Lawyers Bookcase, Royal...  4404.900         5
9639  Chromcraft Bull-Nose Wood Oval Conference Tabl...  4297.644        13
5917  Riverside Palais Royal Lawyers Bookcase, Royal...  4228.704         6
6535              DMI Eclipse Executive Suite Bookcases  4007.840        10

      Discount     Profit
7243       0.3  -630.8820
9741       0.0  1013.1270
9639       0.4 -1862.3124
5917       0.2   158.5764
6535       0.2   -50.0980

[5 rows x 21 columns]

## **Section 3: Handling Missing Data**

Learn to detect, drop, and fill missing values using Pandas' built-in tools.

In [17]:
# Create dummy DataFrame with missing values
data = {'Name': ['A', 'B', 'C', 'D'],
        'Age': [25, np.nan, 30, np.nan],
        'Score': [85, 90, np.nan, 75]}
df_missing = pd.DataFrame(data)

In [18]:
# Check nulls
print(df_missing.isnull().sum())

Name     0
Age      2
Score    1
dtype: int64

In [19]:
# Drop rows with nulls
print(df_missing.dropna())

  Name   Age  Score
0    A  25.0   85.0

In [20]:
# Fill nulls with a default value
print(df_missing.fillna({'Age': 0, 'Score': df_missing['Score'].mean()}))

  Name   Age      Score
0    A  25.0  85.000000
1    B   0.0  90.000000
2    C  30.0  83.333333
3    D   0.0  75.000000

## **Section 4: GroupBy Operations**

Group and aggregate data to get insights by category, region, or other fields.

In [21]:
# Average sales by category
category_mean = df.groupby('Category')['Sales'].mean()
print(category_mean)

Category
Furniture          349.834887
Office Supplies    119.324101
Technology         452.709276
Name: Sales, dtype: float64

In [22]:
# Multiple aggregations by Region
region_stats = df.groupby('Region')['Sales'].agg(['sum', 'mean', 'count']).reset_index()
print(region_stats)

    Region          sum        mean  count
0  Central  501239.8908  215.772661   2323
1     East  678781.2400  238.336110   2848
2    South  391721.9050  241.803645   1620
3     West  725457.8245  226.493233   3203

# **Section 5: Merging DataFrames**

We explore `pd.merge()` to combine datasets using keys.

In [24]:
# Sample data
orders = pd.DataFrame({
    'Order_ID': [1, 2, 3],
    'Customer_ID': ['C1', 'C2', 'C3'],
    'Amount': [100, 200, 150]
})

customers = pd.DataFrame({
    'Customer_ID': ['C1', 'C2', 'C4'],
    'Name': ['Sandhya', 'Dev', 'Shiv']
})

In [25]:
# Inner join
merged_inner = pd.merge(orders, customers, on='Customer_ID', how='inner')
print("Inner Join:\n", merged_inner)

Inner Join:
    Order_ID Customer_ID  Amount     Name
0         1          C1     100  Sandhya
1         2          C2     200      Dev

In [26]:
# Outer join
merged_outer = pd.merge(orders, customers, on='Customer_ID', how='outer')
print("Outer Join:\n", merged_outer)

Outer Join:
    Order_ID Customer_ID  Amount     Name
0       1.0          C1   100.0  Sandhya
1       2.0          C2   200.0      Dev
2       3.0          C3   150.0      NaN
3       NaN          C4     NaN     Shiv

# **Summary**

🧠 Key Concepts Practiced Today:
- Accessing data using `.loc[]`, `.iloc[]`
- Filtering rows with conditions
- Handling missing data using `.isnull()`, `.dropna()`, `.fillna()`
- Aggregating data using `.groupby()`, `.agg()`
- Merging datasets with `pd.merge()` (inner/outer joins)

🎯 This session improved my real-world data manipulation skills using Pandas, which is essential for analytics and reporting workflows.